* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 0 200px;
    display: flex;
    align-items: center;
}

.logo {
    margin-right: auto;
    width: 100px;
}

.link {
    margin: 0 10px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.content1 {
    background-color: #1F2937;
    color: white;
    padding: 80px 200px;
    display: flex;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px 0;
}

.sign-up1 {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
}

.food-image {
    width: 400px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 50px;
}

.images {
    display: flex;
    column-gap: 45px;
}

.dishes {
    width: 150px;
    border: solid dodgerblue;
    border-radius: 15px;
    display:flex;
}

.food {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.food div {
    margin: 10px;
    color: #43464B;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.quote-section {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    color: #1F2937;
    padding: 120px 270px;
}

#winona {
    text-align: right;
    font-size: 28px;
}

.card {
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 45px 120px;
    border-radius: 8px;
    display: flex;
}

.sign-up2 {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: solid white;
}

.left p {
    color: white;
}

.text1 {
    font-size: 24px;
}

.left {
    margin-right: auto;
}